name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          npm install
      - run: |
          npm run all

  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          pwd
          ls -la
      - uses: action.yml@${{github.head_ref}}
        with:
          token: ${{ secrets.PUBLIC_PLENTY_ACTION_TOKEN }}
          owner: plentymarkets
          repo: trigger-workflow-and-wait
          workflow_id: dummy.yml
          ref: ${{github.head_ref}}
          timeout: 25
